pip install numpy==1.21.6
pip install pandas==1.3.5
pip install matplotlib==3.1.1
pip install Django==2.1.7
pip install scikit-learn==0.24.0
pip install keras==2.3.1
pip install tensorflow==1.14.0
pip install h5py==2.10.0
pip install protobuf==3.16.0
pip install seaborn==0.10.1
pip install imbalanced-learn==0.6.2
pip install imblearn==0.0
pip install PyMySQL==0.9.3

